.characterList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.25em;
  margin-top: 3.125em;
  margin-right: 2.5em;
}

@media all and (min-width: 1200px) {
  .characterList {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3.75em;
    margin-top:5.625em;
  }
}
