@import "../core/reset";

.characterCard {
  background-color: rgb(47, 179, 255);
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap:10px;
    
  }

  &__img {
    width: 200px;
  }
  &__name{
  color: white;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 margin: 0px;
  }

  &__species{

    color: rgb(56, 21, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0px;
    margin-bottom: 10px;
  
  }
}


