.FilterByName {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 12.5em;
  height: 1.438em;
  border: 0.188em solid rgb(96, 226, 131);
  margin-left: 6.25em;
  margin-bottom: 1.875em;
}

@media all and (min-width: 1200px) {
  .FilterByName {
    width: 25em;
    margin-left: 11.25em;
    margin-right: 0.625em;
  }
}
