.human {
  height: 2.188em;
  cursor: pointer;
  margin-left: 6.55em;
}
.ovni {
  height: 2.188em;
  margin-left: 1.25em;
  cursor: pointer;
}

@media all and (min-width: 1200px) {
  .human {
    height: 3.125em;
    margin-left: 0.938em;
  }
  .ovni {
    height: 3.125em;
  }
}
