.human {
  height: 35px;
  cursor: pointer;
  margin-left: 140px;
}
.ovni {
  height: 35px;
  margin-left: 20px;
  cursor: pointer;
}

@media all and (min-width: 1200px) {
  .human {
    height: 50px;
    margin-left: 15px;
  }
  .ovni {
    height: 50px;
  }
}
