.human{
    height: 35px;
    cursor: pointer;
    margin-left: 20px;
}
.ovni{
   height: 35px;
   margin-left: 20px;
   cursor: pointer;
  
}

@media all and (min-width: 1200px) {
.human{
    height: 50px;
    cursor: pointer;
}
.ovni{
   height: 50px;
   margin-left: 20px;
   cursor: pointer;
  
}

}