@import "core/reset";

.body {
  background: black;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 86%,
    rgba(1, 61, 45, 1) 100%
  );
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__logo {
    margin-top: 40px;
    width: 325px;
    margin-bottom: 15px;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media all and (min-width: 1200px) {
  .body {
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 78%,
      rgba(1, 61, 45, 1) 100%
    );
  }

  .header {
    height: 300px;

    &__logo {
      margin-bottom: 30px;
      width: 500px;
    }
  }
}
